<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384249165261-aekr0njms88bf84ii058srb51be6fsgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384249165261-aekr0njms88bf84ii058srb51be6fsgh</string>
	<key>API_KEY</key>
	<string>AIzaSyDj4k2lsfLheIV_UN4-w9fEeE7w_n0jVdI</string>
	<key>GCM_SENDER_ID</key>
	<string>384249165261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musicmen.PianoSheetDev</string>
	<key>PROJECT_ID</key>
	<string>pianosheet-b59dc</string>
	<key>STORAGE_BUCKET</key>
	<string>pianosheet-b59dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384249165261:ios:c43548341a6ec9b19a0084</string>
</dict>
</plist>